/*1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Visuales
5. Otros*/

:root{
    /*Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    /*Fonts*/
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--primary-font);
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--black)
    16.69%, var(--bitcoin-orange) 100%);
}

.header__logo img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title--container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
    text-align: center;
}

.header__title--container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title--container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title--container .header__button{
    display: block;
    position: absolute;
    width: 229px;
    height: 48px;
    padding: 16px;
    top: calc(100% - 25px);
    left: calc(50% - 115px);
    font-size: 1.4rem;
    font-weight: 700;
    background-color: var(--off-white);
    border-radius: 4px;
    /*shadow*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 8px;
    background-image: url('./assets/icons/mdi_keyboard_arrow_down.svg');
    background-position: center;
}

.header__title--container .header__button{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--black);
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main__section--exchange{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.section__title--exchange{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.section__img--background{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/images/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section__title--exchange h2{
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--black);
}

.section__title--exchange p{
    margin-bottom: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.section__table--currency{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    height: 360px;
    font-family: var(--secondary-font);
}

.table__currency{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.section__table--currency .coins--title{
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    font-family: var(--primary-font);
    color: var(--bitcoin-orange);
}

.section__table--currency .commission--title{
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    font-family: var(--primary-font);
    color: var(--secondary-blue);
}

.table__currency table{
    width: 100%;
    height: 100%;
}

.table__currency td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.table__currency .table--top-left{
    border-radius: 15px 0 0 0;
}

.table__currency .table--top-right{
    border-radius: 0 15px 0 0;
}

.table__currency .table--bottom-left{
    border-radius: 0 0 0 15px;
}

.table__currency .table--bottom-right{
    border-radius: 0 0 15px 0;
}

.table__currency .table--right{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    font-family: var(--secondary-font);
    color: #757575;
}

.table__currency .icon--down{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table__currency .icon--up{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table--date{
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px 0 0 8px;
    width: 190px;
    height: 30px;
    border-radius: 8px;
}

.table--date p{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 300;
    color: var(--warm-black);
}

.coins--date{
    background-color: var(--soft-orange);
}

.commission--date{
    background-color: var(--soft-blue);
}

.main__section--product{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto; 
    padding: 2em 1em;
    background-color: var(--warm-black);
}

.section--icon{
    position: absolute;
    width: 40px;
    height: 25px;
    top: calc(0% - 12.5px);
    left: calc(50% - 20px);
    background-image: url('./assets/icons/papa.svg');
}

.section--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 5em;
    text-align: center;
}

.section--title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.section--title p{
    margin-top: 2.4em;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.card--container{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    margin: 3em auto;
}
.card--detail{
    width: 100%;
    min-height: 150px;
    margin-bottom: 1.5em;
    padding: 1.5em;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.card--detail .card--icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock{
    background-image: url('./assets/icons/clock.svg');
}

.eye{
    background-image: url('./assets/icons/eye.svg');
}

.dollar{
    background-image: url('./assets/icons/dollar-sign.svg');
}

.check{
    background-image: url('./assets/icons/check-circle.svg');
}

.card--detail .card--title{
    display: block;
    margin: 1em 0px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}

.card--detail .card--copy{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.main__section--imagen{
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url('./assets/images/bitcoinbaby2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__section--imagen h2{
    padding-top: 3em;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}